body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.carousel {
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-container img {
    width: 100%;
    flex-shrink: 0;
}
